<!DOCTYPE html>
<html>
  <head>
    <title>Ordit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'business_app' %>
    <%= javascript_pack_tag 'business_app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
