<!DOCTYPE html>
<html>
  <head>
    <title>Ordit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- set `maximum-scale` for some compatibility issues -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <%= stylesheet_pack_tag 'customer_app' %>
    <%= javascript_pack_tag 'customer_app' %>

  </head>

  <body>
      <%= yield %>
  </body>
</html>
